<!doctype html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <style>
        .red {
            color: red;
        }

        .grey {
            color: grey;
        }

        .white {
            color: transparent !important;
        }

        input {
            width: 400px;
        }

    </style>
</head>
<body ng-controller="Main as vm">
<div style=" display: flex;">
    <div class="placeholder" data-placeholder="my placeholder">
        <!--<input my-enter="vm.newTextChange()" ng-model="vm.newText" ng-change="vm.newTextChange()" />-->
    </div>
    <div class="placeholder" data-placeholder="my placeholder">
        <span ng-class="{grey : $index < vm.splittedNewText.length-1, red : vm.isSelected($index, vm.splittedNewText)}"
              ng-repeat="word in vm.splittedDefaultText track by $index">{{word}} </span>
    </div>
</div>
<div style=" display: flex;">
    <div class="placeholder" data-placeholder="my placeholder">
        <input my-ctrl="vm.selectAdditionalWord()" my-enter="vm.spaceEnter()" ng-model="vm.newText" ng-change="vm.newTextChange()"/>
    </div>
    <div style="position: absolute;" class="placeholder" data-placeholder="my placeholder">
        <span ng-class="$index < vm.splittedNewText.length-1 || $index === vm.splittedNewText.length-1 ? 'white' : ''"
              ng-repeat="word in vm.splittedDefaultText2 track by $index">{{word}} </span>
    </div>
</div>


<script src="bower_components/angular/angular.js"></script>
<script src="app.js"></script>
</body>
</html>